# Aplanar Data Frame
Reorganizarlo para que toda la información quede en una estructura más simple y de una sola capa.

In [1]:
import pandas as pd

# Tu DataFrame original
data = {
    'id': ['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7'],
    'abecedario': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
    'número': [1, 2, 3, 4, 5, 6, 7],
    'día': ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'],
    'mes': ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
}

df = pd.DataFrame(data)
df

   id abecedario  número        día      mes
0  a1          a       1      lunes    enero
1  a2          b       2     martes  febrero
2  a3          c       3  miércoles    marzo
3  a4          d       4     jueves    abril
4  a5          e       5    viernes     mayo
5  a6          f       6     sábado    junio
6  a7          g       7    domingo    julio

In [2]:
# Usar pd.melt para transformar el DataFrame
df_melted = pd.melt(df, id_vars=['id'], value_name='Valor', var_name='Encabezado')

df_melted

    id  Encabezado      Valor
0   a1  abecedario          a
1   a2  abecedario          b
2   a3  abecedario          c
3   a4  abecedario          d
4   a5  abecedario          e
5   a6  abecedario          f
6   a7  abecedario          g
7   a1      número          1
8   a2      número          2
9   a3      número          3
10  a4      número          4
11  a5      número          5
12  a6      número          6
13  a7      número          7
14  a1         día      lunes
15  a2         día     martes
16  a3         día  miércoles
17  a4         día     jueves
18  a5         día    viernes
19  a6         día     sábado
20  a7         día    domingo
21  a1         mes      enero
22  a2         mes    febrero
23  a3         mes      marzo
24  a4         mes      abril
25  a5         mes       mayo
26  a6         mes      junio
27  a7         mes      julio